
wko-gold = #d9b964
wko-gold-light = #d2c783

wko-black = #0c0b0a
wko-silver = #dbd7ce
wko-steel = darken(silver, 5%)

wko-dark = #12100b
wko-light = #f4f0e6
wko-primary = #FFE834
wko-accent = #B4A09A


.new-brew-btn
    color wko-gold
    display inline
    font-size 1em
    max-height 70px
.new-brew-btn:hover
    color wko-primary


.brews-list *
    color wko-steel
    height 60px
    font-size 1em
    font-family 'Libre Baskerville', 'Nanum Gothic', 'Exo 2', sans-serif

.brew-list-item
    display flex
    height 50px
    width 100%
    p
        margin 20px 10px
        min-width 20px
        min-height 20px
.brew-list-item:hover
    background wko-accent
    width 100%
    cursor pointer
    p
        color wko-dark

    