<div>

    <div class="heading-banner">
      <h1>New Brew</h1>
    </div>
  
    <div class="page-wrap">

        <div class="new-brew-form" [formGroup]="newBrewForm" (ngSubmit)="createNewBrew()">
          
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Brew name" [autofocus]>
          </mat-form-field>

          <mat-form-field class="beer-select-autocomplete" appearance="outline">
            <input matInput placeholder="Beer (optional)" formControlName="beerId" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <img class="beer-logo-img" aria-hidden src="beer-logo.png" height="25"> -->
              <mat-option *ngFor="let beer of beers" [value]="beer.name" >
                <span>{{beer.name}}</span> |
                <small>{{beer.description}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field color="primary" appearance="outline">
            <mat-label>Brew Date</mat-label>
            <input matInput [matDatepicker]="createbrewdatepicker" formControlName="brewDate">
            <mat-datepicker-toggle matSuffix [for]="createbrewdatepicker"></mat-datepicker-toggle>
            <mat-datepicker #createbrewdatepicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Brew Number</mat-label>
              <input formControlName="brewNumber" matInput placeholder="Brew #">
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Batch Number</mat-label>
              <input formControlName="batchNumber" matInput placeholder="Batch #">
          </mat-form-field>

          <div>
            <label>Gone: </label>
            <mat-radio-group formControlName="gone">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="brew-creation-btn-area">
            <input type="submit" value="Submit" class="btn" (click)="createNewBrew()">
            <input type="button" value="Cancel" class="btn" (click)="cancel()">
          </div>

        </div>

    </div>
  
  </div>
  