

wko-gold = #d9b964
wko-gold-light = #d2c783

wko-black = #0c0b0a
wko-silver = #dbd7ce
wko-steel = darken(silver, 5%)

wko-dark = #12100b
wko-light = #f4f0e6
wko-primary = #FFE834
wko-accent = #B4A09A

.brew-details-info
    border solid 1px
    padding 0 25px

.edit-brew-btn
    color wko-gold
    opacity 0.3
    display inline
    font-size 1em
    max-height 70px
.edit-brew-btn:hover
    color wko-primary
    opacity 1

.brew-details-page-section
    margin 0 0 60px 0
