<div>

    <div class="heading-banner">
      <h1>New Brew</h1>
    </div>
  
    <div class="page-wrap">
      
        <h2>Create a new Brew Entry</h2>

        <div class="new-brew-form" [formGroup]="newBrewForm" (ngSubmit)="createNewBrew()">
          
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Brew name" [autofocus]>
            </mat-form-field>

          <div>
            <label>Gone: </label>
            <mat-radio-group formControlName="gone">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="brew-creation-btn-area">
            <input type="submit" value="Login" class="btn" (click)="createNewBrew()">
            <input type="button" value="Cancel" class="btn" (click)="cancel()">
          </div>

        </div>

    </div>
  
  </div>
  