

wko-gold = #d9b964
wko-gold-light = #d2c783

wko-black = #0c0b0a
wko-silver = #dbd7ce

wko-dark = #12100b
wko-light = #f4f0e6


.new-brew-form
    display flex
    flex-direction column
    mat-radio-button
        padding 10px
    .btn
        color wko-gold
        margin 50px 50px 50px 0
        padding 20px