<div class="home-page">

  <div class="heading-banner">
    <h1>{{ loginState ? 'Admin Login' : 'wko.beer' }}</h1>
  </div>

  <div class="page-wrap">

    <div *ngIf="!loginState" class="home-content-area">
      <div class="home-content">
        <div class="home-img-container">
          <img class="home-img" src="assets/tulip.png" />
        </div>
        <h1 class="headquarters-label">WKO Brew Headquarters</h1>
        <h2 class="headquarters-label">Welcome!</h2>
        <p class="headquarters-label">Check out some of the beers <a routerLink="beers" class="link">here</a>!</p>
        <h2 (click)="toggleLoginForm()" class="login-btn">Login</h2>
      </div>
    </div>

    <div *ngIf="loginState" class="login-area">
      <form #loginform="ngForm">
        <div class="login-success-message" *ngIf="successMessage">
          <h2>{{successMessage}}</h2>
        </div>
        <div class="login-username" *ngIf="!successMessage">
          <label>Username</label>
          <input
            required (ngModelChange)="loginErrors=null;"
            type="text" required ngModel name="username" #username
            [autofocus]="loginState"
          >
        </div>
        <div class="login-password" *ngIf="!successMessage">
          <label>Password</label>
          <input required (ngModelChange)="loginErrors=null;" ngModel name="password" type="password">
        </div>
        <div class="login-actions" *ngIf="!successMessage">
          <input type="submit" value="Login" class="btn" (click)="login(loginform)">
          <input type="button" value="Cancel" class="btn" (click)="toggleLoginForm()">
        </div>
        <div class="login-error-area" *ngIf="loginErrors">
          {{ loginErrors }}
        </div>
      </form>
    </div>

  </div>

</div>