<div class="home-page">

  <div class="heading-banner">
    <h1>wko.beer</h1>
  </div>

  <div class="page-wrap">
    <img *ngIf="!loginState" class="home-img" src="assets/desk-1.png" />
    <h1  *ngIf="!loginState" class="headquarters-label">Homebrew Headquarters</h1>
    <h2  *ngIf="!loginState" class="headquarters-label">(AKA: Misanthropic Brews)</h2>
    <h2  *ngIf="!loginState" (click)="toggleLoginForm()" class="login-btn">Login</h2>

    <div *ngIf="loginState" class="login-area">
      <form #loginform="ngForm" (ngSubmit)="login(loginform)">
        <div class="login-form-heading">
          <h2>Brewer Admin Login</h2>
        </div>
        <div class="login-username">
          <label>Username</label>
          <input type="text" required ngModel name="username" #username>
        </div>
        <div class="login-password">
          <label>Password</label>
          <input required ngModel name="password" type="password">
        </div>
        <div class="login-actions">
          <input type="submit" value="Login" class="btn" (click)="login(loginform)">
          <input type="button" value="Cancel" class="btn" (click)="toggleLoginForm()">
        </div>
      </form>
    </div>
  </div>

</div>