wko-dark = #12100b
wko-light = #f4f0e6

wko-gold = #d9b964
wko-gold-light = #d2c783

.home-content
  display flex
  flex-direction column
  flex 1 1 auto
  h1
    background -webkit-linear-gradient(wko-gold, wko-dark)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

.home-img
  margin-top -25px
  margin-left -50px
  width 345px
  height 256px
  filter saturate(50%) brightness(260%) hue-rotate(30deg) 

.home-img-container
  width 245px
  height 200px
  overflow hidden
  opacity 0.85
  margin 20px auto
  border solid 4px darken(wko-gold, 15%)
  background darken(silver, 80%)
  border-radius 900px
  padding 25px 0

.headquarters-label
  margin 20px auto

.login-btn
  margin 20px auto
  color darken(steelblue, 93%)
  cursor pointer

.login-btn:hover
  color wko-dark

.login-area
  width 700px
  height 300px
  margin 225px auto
  display flex
  flex-direction column

.login-username,.login-password
  display flex
  flex 1 1 auto
  margin 15px 40px
  label
    display flex
    flex-direction column
    font-family 'Julius Sans One', helvetica
    font-size 15pt
    width 90px
    margin 10px 35px
    flex 0 0 auto
  input
    height 20px
    padding 10px
    font-size 15pt
    color lighten(#180D01, 12%)
    font-family 'Exo 2', sans-serif
    border-radius 5px
    display flex
    flex-direction column
    width 275px
    flex 0 0 auto

.login-actions
  display flex
  justify-content center
  .btn
    padding 10px 15px
    margin 30px
    color wko-gold

.login-error-area
  color darken(red, 20%)
  font-size 14pt
  display flex
  justify-content center
  padding 15px

.login-success-message
  display flex
  justify-content center