wko-dark = #12100b
wko-light = #f4f0e6

.home-img
  width 800px
  opacity 0.95
  margin 20px auto

.headquarters-label
  margin 20px auto

.login-btn
  margin 20px auto
  color wko-light
  cursor pointer

.login-btn:hover
  color wko-dark

.login-area
  width 300px
  height 300px
  margin 300px auto
  display flex
  flex-direction column

.login-username,.login-password
  display flex
  flex 1 1 auto
  margin 15px
  label
    display flex
    flex-direction column
    width 90px
    flex 0 0 auto
  input
    height 20px
    padding 0 5px
    border-radius 5px
    display flex
    flex-direction column
    flex 1 1 auto

.login-actions
  display flex
  justify-content center

.login-form-heading
  display flex
  justify-content center