
wko-gold = #d9b964
wko-gold-light = #d2c783

wko-black = #0c0b0a
wko-silver = #dbd7ce

wko-dark = #12100b
wko-light = #f4f0e6

.new-brew-btn-area
    display flex
    width 100%
    justify-content flex-start
.new-brew-btn
    color wko-gold
    width 75px





