<div>

  <div class="heading-banner">
    <h1>
      Brews
      <button mat-mini-fab color="none" class="btn new-brew-btn" (click)="createBrew()" matTooltip="New Entry">
        +
      </button>
    </h1>
  </div>

  <div class="page-wrap">
    <mat-list class="brews-list">
      <h2 *ngIf="!brews || !brews.length">...No Brews to List</h2>
  
        <mat-list-item *ngFor="let brew of brews">
          <div class="brew-list-item">
            <p>{{brew.brew_number}}</p>
            <p>{{brew.brew_date}}</p>
            <p class="brew-list-name">{{ brew.name + (brew.batch_number > 1 ? ' (' + brew.batch_number + ')' : '')}}</p>
          </div>
        </mat-list-item>
  
    </mat-list>
  </div>

</div>
